<h1>お金管理アプリ</h1>
<%= link_to "ログイン", new_user_session_path %>
<%= link_to "新規登録", new_user_registration_path %>
<%= link_to "Purchase history", root_path %>

<p>Find me in app/views/used_money/index.html.erb</p>
